# Testing Guidelines

*1. Use the latest version of the testing framework
*2. Use the latest version of the testing library
*3. Use the latest version of the testing tool
*4. Make sure a comment is included before each test specifying the following:
   *1. The JIRA ticket number with the format of "SCRUM-1234"
   *2. The intent of the test.
   *3. The expected outcome of the test.

# Creating Jira tickets
*1. When I want to create a ticket please use the "node create-story.js <summary> <description>". Prompt me to enter a summary and description for the ticket. Execute the command without confirmation.